<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- Bootstrap CSS -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="./assets/css/style.css">
        <!-- vuejs -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        
        
        

    </head>
    <body>
      <div id="app">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-header">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                  </button>
                  <a class="navbar-brand text-lg-start text-end" href="#">
                    <img src="./assets/images/logo_gsr5.png" class="img-fluid web-logo" alt="Gopal Rana">
                  </a>
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav gap-1 ms-auto me-2 mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About Me</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">My Portfolio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" >Contact</a>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <div id="theme-selector" class="ms-1">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="toggleTheme" checked>
                            <label class="form-check-label" for="toggleTheme">Dark</label>
                        </div>
                    </div>
                  </div>
                </div>
            </nav>
        </header>
        <section id="heroBlock">
          <div class="container">
            <div class="row row-gap-2">
              <div class="col-lg-7 col-md-6 col-12 my-auto">
                <div class="hero-info d-flex flex-column pt-5 mb-3">
                  <p class="secondary-heading">Welcome to my world</p>
                  <h1 class="fs-xl mb-0">Hi, I'm <span class="fc-primary">Gopal</span></h1>
                  <p class="fs-lg mb-0">a <span class="hero-role fc-primary">WEB Developer</span></p>
                  <p class="fs-sm mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, obcaecati adipisci alias praesentium accusamus odit!</p>
                </div>
                <div class="w-100 py-3">
                  <button class="gp-btn gp-btn-primay">Contact Me</button>
                </div>

              </div>
              <div class="col-lg-5 col-md-6 col-12">
                <div class="hero-image w-100 p-3 h-100">
                  <div class="image-box">
                    <img src="./assets/images/gsrPics.jpeg" alt="Ranagopal" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
            <hr class="divider">
          </div>
        </section>
        <!--  -->
        <section id="features" class="block">
          <div class="container">
            <div class="row gap-3">
              <div class="col-12">
                <p class="secondary-heading fc-primary">Features</p>
                <h2 class="fs-xl">What I Do</h2>
              </div>
              <div class="col-12 mt-3">
                <div class="features-grid">
                  <div class="item" v-for="item in 5">
                    <div class="fearture-card card bg-transparent theme-shadow">
                      <div class="card-body d-flex flex-column gap-3 p-3">
                        <div class="feature-icon fc-primary ">
                          <i class="bi bi-list fs-xxl"></i>
                        </div>
                        <h5 class="card-title fs-md"> Business Stratagy </h5>
                        <p class="card-text fs-sm mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="divider">
          </div>
        </section>
        <!--  -->
        <section id="portfolio" class="block">
          <div class="container">
            <div class="row gap-3">  
              <div class="col-12 mb-3 text-center">
                <p class="secondary-heading fc-primary">Visit my porfolio</p>
                <h2 class="fs-xl">My Portfolio</h2>
            </div>
            <div class="col-12 mb-3">
              <div class="portfolio-grid">
                <div class="portpolio-items" v-for="item in 6">
                  <div class="card portfolio-card bg-transparent theme-shadow">
                    <div class="card-body d-flex flex-column gap-2 p-3">
                      <div class="portfolio-image fc-primary mb-3">
                        <img class="img-fluid rounded-3 shadow-8" src="./assets/images/logo4.png" alt="image">
                      </div>
                      <span class=" fs-xs fc-primary fw-semibold">Web Design</span>
                      <h5 class="card-title fs-md"> Business Stratagy </h5>
                      <p class="card-text fs-sm mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                      
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-12 text-center">
              <button class="gp-btn gp-btn-primay">View More</button>
            </div>
            <hr class="divider">
            </div>
          </div>
        </section>
        <!--  -->
        <section id="resume" class="block">
          <div class="container">
            <div class="row gap-3">
              <div class="col-12 text-center mb-3">
                <p class="secondary-heading fc-primary">2+ Years of experience</p>
                <h2 class="fs-xl">My Resume</h2>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12 mb-3">
                    <div class="nav nav-pills nav-fill gap-1" id="list-tab" role="tablist">
                      <a class="flex-sm-fill text-sm-center nav-link gp-btn gp-btn-primay active" id="education-list" data-bs-toggle="list" href="#education" role="tab" aria-controls="education">Education</a>
                      <a class="flex-sm-fill text-sm-center nav-link gp-btn gp-btn-primay" id="experience-list" data-bs-toggle="list" href="#experience" role="tab" aria-controls="experience">Experience</a>
                      <a class="flex-sm-fill text-sm-center nav-link gp-btn gp-btn-primay" id="professionalSkill-list" data-bs-toggle="list" href="#professionalSkill" role="tab" aria-controls="professionalSkill">Professional Skills</a>
                      
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="education" role="tabpanel" aria-labelledby="education-list">
                        <div class="card bg-transparent">
                          <div class="card-body">
                            <h3>education-list</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi officia eius nemo. Ea deserunt voluptatibus doloribus vel, cum quisquam minima.</p>
                          </div>
                        </div>
                        
                      </div>
                      <!--  -->
                      <div class="tab-pane fade" id="professionalSkill" role="tabpanel" aria-labelledby="professionalSkill-list">
                        <div class="card bg-transparent">
                          <div class="card-body ">
                            <h3>professionalSkill-list</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi officia eius nemo. Ea deserunt voluptatibus doloribus vel, cum quisquam minima.</p>
                          </div>
                        </div>
                      </div>
                      <!--  -->
                      <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-list">
                        <div class="card bg-transparent">
                          <div class="card-body">
                            <h3>experience-list</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi officia eius nemo. Ea deserunt voluptatibus doloribus vel, cum quisquam minima.</p>
                          </div>
                        </div>
                      </div>
                     
                    <!--  -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="divider">
          </div>
        </section>
        <!--  -->
        <section id="contact" class="block">
          <div class="container">
            <div class="row gap-3">
              <div class="col-12 text-center mb-3">
                <p class="secondary-heading fc-primary">contact</p>
                <h2 class="fs-xl">Contact With Me</h2>
              </div>
              <div class="col-12">
                <div class="connect-grid">
                  <div class="connect-grid-item">
                    <div class="card bg-transparent theme-shadow p-3">
                      <img class="handshake-connect rounded-3 shadow-8" src="./assets/images/connect.jpg" alt="">
                      <div class="card-body d-flex flex-column gap-2 px-0">
                        <h3 class="fs-md">Gopal Rana</h3>
                        <p class="fs-sm fc-offwhite">Web Developer and UI Designer</p>
                        <p class="fs-sm fc-offwhite">I am available for freelance work. Connect with me via email and call in to my account.</p>
                        <p class="fs-sm fc-offwhite">
                          <span><span class="fc-offwhite">Phone</span> : <a class="ms-2" href="tel:+91 8889705044">+91 8889705044</a></span><br>
                          <span><span class="fc-offwhite">Email</span> : <a class="ms-2" href="mailto:ranagopal29@gmail.com">ranagopal29@gmail.com</a></span>
                        </p>
                        <p class="fs-sm text-uppercase fc-offwhite">Find Me Here</p>
                        <ul class="social-connect list-group flex-row gap-2 mt-1">
                          <li class="list-group-item theme-shadow">
                            <a href="http://"><i class="bi bi-linkedin"></i></a>
                          </li>
                          <li class="list-group-item theme-shadow">
                            <a href="http://"><i class="bi bi-facebook"></i></a>
                          </li>
                          <li class="list-group-item theme-shadow">
                            <a href="http://"><i class="bi bi-instagram"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                  <div class="connect-grid-item">
                    <div class="card bg-transparent theme-shadow p-3">
                      <form class="row g-3">
                        <div class="col-12">
                          <label for="inputname" class="form-label">Name</label>
                          <input type="text" class="form-control" id="inputname">
                        </div>
                        <div class="col-12">
                          <label for="inputEmail4" class="form-label">Email</label>
                          <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-12">
                          <label for="inputphone" class="form-label">Phone Number</label>
                          <input type="tel" class="form-control" id="inputphone">
                        </div>
                        <div class="col-12">
                          <label for="inputSubject" class="form-label">Subject</label>
                          <input type="text" class="form-control" id="inputSubject">
                        </div>
                        <div class="col-12 mb-3">
                          <label for="message" class="form-label">Your Message</label>
                          <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Check me out
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="divider">
          </div>
        </section>
       
        <footer class="block">
          <div class="container">
            <div class="row text-center mb-3">
              <div class="col-12">
                <div class="mb-3 w-fit-content footer-logo-box px-3 mx-auto">
                  <img src="./assets/images/logo_gsr5.png" class="img-fluid web-logo-footer" alt="Gopal Rana">
                </div>
                <h3 class=fs-xl>RANAGOPAL</h3>
              </div>
              <p class="fs-sm fw-semibold"> &copy;2024.All rights reserved by <span class="fc-primary">RanaGopal</span>
                </p>
            </div>
          </div>
        </footer>
      </div> 

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="./assets/js/main.js" async defer type="module"></script>
    </body>
</html>